@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&display=swap");

.App {
  text-align: center;
  background-color: #f9fafc;
  padding-bottom: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
