.result-card {
  background: white;
  border: 1px solid #dce3ec;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 14px;
  margin-top: 14px;
}

@media (max-width: 450px) {
  .images-results img {
    height: 100px;
  }
}
