.search-results {
  margin: 0;
  padding: 30px 40px;
  background-color: #f9fafc;
  color: #475569;
  font-family: "Geist", sans-serif;
  text-align: left;
}

.word {
  font-family: "Instrument Serif", serif;
  font-size: 44px;
  margin: 0 0 12px;
  color: #475569;
}

.pronunciation {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 34px;
  font-size: 20px;
  font-style: italic;
}
.card-title {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.icon {
  font-size: 22px;
  color: #53627a;
}

.result-card {
  background: white;
  border: 1px solid #dce3ec;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 14px;
  margin-top: 14px;
}

.meanings {
  margin-left: 44px;
  margin-top: 20px;
  color: #53627a;
}

.meaning-definition strong {
  font-size: 18px;
  font-weight: 600;
}
.meaning-definition p {
  font-size: 16px;
  font-weight: 300;
}

.description {
  margin: 0 0 0 36px;
  color: #53627a;
  line-height: 1.6;
}

.synonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 36px;
}

.synonym {
  padding: 7px 12px;
  border: 1px solid #dce3ec;
  border-radius: 20px;
  background: #f8fafc;
  color: #53627a;
  font-size: 14px;
  font-weight: 500;
}
